    body {
        background-color: #D7FFF1;
        color: #285943;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0%;
    }
    html {
        font-family: "amifer", sans-serif;
        font-weight: 700;
        font-style: normal;
    }
    .main-nav {
        width: 100%;
        padding: 15px 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
    }
    .nav-brand {
        font-size: 32px;
        font-weight: bold;
    }
    .nav-menu {
        display: flex;
        gap: 15px;
        align-items: center;
    }
    .main-nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .nav-menu a {
        text-decoration: none;
        font-size: 18px;
        padding: 8px 12px;
        color: #D7FFF1;
        background-color: #285943;
        border: 1px solid #D7FFF1;
        border-radius: 10px;
        transition: background-color .3s, color .3s, border .3s;
    }
    .nav-menu a:hover {
        background-color: #77AF9C;
        color: white;
        border: solid 1px gray;
        cursor: pointer;
        border-radius: 10px;
    }
    .nav-toggle {
        display: none;
    }



    .color-bar {
        width: 100%;
        height: 40px;
        background-color: #285943;
    }
    .color-break {
        width: 75%;
        height: 20px;
        background-color: #77AF9C;
        border-radius: 15px;
        margin-top: 2%;
        margin-bottom: 2rem;
    }
    .small-color-break {
        width: 55%;
        height: 10px;
        background-color: #77AF9C;
        border-radius: 15px;
        margin-top: 2%;
        margin-bottom: 2rem;
    }
    .smaller-color-break {
        width: 35%;
        height: 10px;
        background-color: #77AF9C;
        border-radius: 15px;
        margin-top: 2%;
        margin-bottom: 2rem;
    }



    h1 {
        font-size: 50px;
        text-align: center;
        margin: 50px 0;
    }
    p {
        font-size: 20px;
        max-width: 800px;
        text-align: center;
        margin-bottom: 50px;
        line-height: 1.5;
    }

    h2 {
        font-size: 30px;
        text-align: center;
        margin: 5px 0;
    }



    footer {
        background-color: #285943;
        color: #D7FFF1;
        text-align: center;
        padding: 10px;
        width: 100%;
        margin-top: 2%;
    }



    a {
        text-decoration: none;
        font-size: 20px;
        padding: 10px;
        margin: 20px;
        color: #D7FFF1;
        background-color: #285943;
        border: solid 1px #D7FFF1;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color .5s, color .5s, border .5s;
    }



    .checklist-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        padding-top: 2rem;
    }
    .checklist-section {
        border: 2px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 10px;
        text-align: left;
    }



    .species-grid {
        grid-template-areas:
            "header"
            "nav"
            "photo"
        ;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
        padding: 4rem;
    }
    .species-photo {
        border: 2px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 10px;
        text-align: center;
    }
    .species-photo img {
        max-width: 100%;
        height: auto;
        margin: 2%;
    }
    .species-grid-header {
        grid-area: header;
        text-align: center;
    }
    .filter-nav {
        grid-area: nav;
        display: flex;
        justify-content: center;
        gap: 1rem;
        flex-wrap: wrap;
    }
    .species-button {
        text-decoration: none;
        font-size: 20px;
        padding: 10px;
        margin: 10px;
        color: #D7FFF1;
        background-color: #285943;
        border: solid 1px #D7FFF1;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color .5s, color .5s, border .5s;
    }
    .species-button:hover {
        background-color: #77AF9C;
        color: white;
        border: solid 1px gray;
        cursor: pointer;
        border-radius: 10px;
    }
    .species-button.active {
        background-color: #77AF9C;
        color: #285943;
        border: solid 1px #285943;
    }



    .check-label {
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 18px;
        margin-bottom: 8px;
    }
    .check-item {
        display: none;
    }
    .checkmark {
        width: 20px;
        height: 20px;
        border: 2px solid #285943;
        border-radius: 5px;
        margin-right: 10px;
        background-color: #D7FFF1;
        transition: all 0.3s ease;
        position: relative;
    }
    .check-item:checked + .checkmark {
        background-color: #285943;
        border-color: #285943;
    }
    .check-item:checked + .checkmark::after {
        content: "X";
        color: #D7FFF1;
        font-size: 14px;
        position: absolute;
    }



    @media (max-width : 450px) {
        .main-nav {
            justify-content: space-between;
        }
        .nav-brand {
            font-size: 20px;
            max-width: 97%;
            
        }
        .nav-menu {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 70px;
            left: 0;
            width: 100%;
            gap: 20px
        }
        .nav-menu.show {
            display: flex;   
        }
        .nav-menu a {
            font-size: 18px;
            width: 100%;
            cursor: pointer;
            transition: color .5s, border .5s;
            border-radius: 15px;
        }
        .nav-toggle {
            position: absolute;
            top: 1%;
            right: 3%;
            background-color: #285943;
            border-radius: 15px;
            transition-duration: 0.8s;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 40px;
            height: 40px;
            border: none;
            border-radius: 8px;
            cursor: pointer;
        }
        .nav-toggle:hover {
            background-color: #77AF9C;
            cursor: pointer;
        }
        span {
            margin: 3px;
            height: 5px;
            border-radius: 2px;
            background-color: #D7FFF1;
            display:block
        }
        .color-bar {
            width: 100%;
            height: 20px;
            background-color: #285943;
        }
        .checklist-grid {
            grid-template-columns: repeat(1, 1fr);
        }
    }




    @media (min-width: 450px) and (max-width: 800px) {
        .nav-brand {
            font-size: 26px;
        }
        .nav-menu a {
            font-size: 16px;
            padding: 6px 10px;
            border-radius: 10px;
        }
        .color-bar {
            width: 100%;
            height: 30px;
            background-color: #285943;
        }
        .checklist-grid {
            grid-template-columns: repeat(2, 1fr);
        }
    }



    @media (min-width : 1200px) {
        .nav-brand {
            font-size: 42px;
            font-weight: bold;
        }
        .nav-menu a {
            font-size: 20px;
            padding: 10px 14px;
        }
        .color-bar {
            width: 100%;
            height: 40px;
            background-color: #285943;
        }
    }



    @media (min-width: 768px){
        .species-grid {
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        }
    }